*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navagation Bar Styling */
.navBar{

  display: flex;
  padding: 16px;
  justify-content: space-around;
  background-color: rgb(1, 67, 211);
  color: azure;
  /* a line to see where the div ends*/
  box-shadow: 0 1px 3px -2px black;
  
}

.nav-name{
  display: flex;
  color: aliceblue;
  position: relative;
  left: -270px;
  bottom: -65px;
  font-size: x-large;
}

.homeLogo{
  width: 20px;
  height: 20px;
}

.navMenu{
  text-align: left;
  
}


/* Main Menu Styling */
.mainMenu{
  background-color: rgb(190, 190, 190);
}
.manageProjects{
  background-color: aliceblue;
  padding: 25px;
  margin: 25px;
  
}

.syncProjects{
  background-color: aliceblue;
  padding: 25px;
  margin: 25px;
}

.viewLogs{
  background-color: aliceblue;
  padding: 25px;
  margin: 25px;
}

.changeWC{
  background-color: aliceblue;
  padding: 25px;
  margin: 25px;
}


/* Change Website Color Menu Styling */

.changeColorMenu{
  background-color: rgb(146, 146, 146);
}

.colorBox{
  padding: 25px;
  margin: 25px;
  background-color: rgb(230, 230, 230);

}

.saveButton{
  text-align: center;

}