.create-event-overlay {
    position: fixed;
    top: 40%; /* Same top position as the modal */
    left: 50%; /* Same left position as the modal */
    transform: translate(-50%, -50%);
    width: 80%; /* Matching the modal width */
    height: auto; /* Matching the modal height */
    max-width: 600px; /* Matching the modal max-width */
    background-color: rgba(255, 255, 255, 0.4); /* Example semi-transparent background */
    z-index: 14;
}

.create-event-modal {
    margin-top: 50px;
    max-width: 600px;
    width: 80%;
    height: auto;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 15;
}

.close-button-create-event {
    position: fixed;
    top: 8px;
    right: 16px
}
.close-button-create-event:hover {
    cursor: pointer;
}

.create-event-form {
    height: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

.asterisk {
    color: red;
    font-weight: bold;
}

.required {
    color: lightgray;
}

.start-end-buttons {
    display: inline-block;
}

.cancel-event-button, .create-event-confirm-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-event-button:hover, .create-event-confirm-button:hover {
    background-color: #0056b3;
  }

  input[name="event-date"],
  input[name="event-time"],
  input[name="event-initials"],
  select[name="event-team"],
  input[name="event-posture"],
  input[name="event-location"],
  input[name="event-vector"],
  input[name="event-source"],
  input[name="event-host"],
  input[name="event-description"] {
    padding: 5px 10px;
    margin: 1px 0;
    box-sizing: border-box;
    width: 100%;
  }
