.import-graph-overlay {
    position: fixed;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 60%; 
    height: auto; 
    max-width: 600px; 
    background-color: rgba(255, 255, 255, 0.4); 
    z-index: 14;
}

.import-graph-modal {
    margin-top: 50px;
    max-width: 600px;
    width: 60%;
    height: auto;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 15;
}

.close-button-import-graph {
    position: fixed;
    top: 8px;
    right: 16px
}

.close-button-import-graph {
    cursor: pointer;
}

.import-graph-form {
    height: 100%;
    display: inline-block;
}

.asterisk {
    color: red;
    font-weight: bold;
}

.required {
    color: lightgray;
}

.start-end-buttons {
    display: inline-block;
}

.cancel-import-button, .import-graph-confirm-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-import-button:hover, .import-graph-confirm-button:hover {
    background-color: #0056b3;
  }

input[name="log-directory"], input[name="string-log-directory"] {
    padding: 5px 10px;
    margin: 1px 0;
    box-sizing: border-box;
    width: 100%;
  }
