/* MainMenu.css */
.main-menu {
    background-color: #ffffff;
    padding: 250px;
    width: 450px; /* Adjust width as needed */
    margin: auto;
  }
  
  /*Menu styling*/
  .menu-option {
    display: block;
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    background-color: #f9f9f9; 
    cursor: pointer;
    text-align: middle;
  }
  
  h1 {
    text-align: center;
  }