.save-graph-button,
.export-graph-button,
.import-graph-button  {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-graph-button:hover,
.export-graph-button:hover,
.import-graph-button:hover {
    background-color: #0056b3;
  }

.graph-container {
    width: 85vw;
    height: 80vh;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}