.save-graph-button,
.export-graph-button,
.import-graph-button,
.view-node-button,
.edit-node-button,
.add-node-button  {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-graph-button:hover,
.export-graph-button:hover,
.import-graph-button:hover,
.view-node-button:hover,
.edit-node-button:hover,
.add-node-button:hover {
    background-color: #0056b3;
  }

.graph-container {
    width: 85vw;
    height: 80vh;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.view-node-overlay {
    position: fixed;
    width: 60%;
    height: 50%;
    background-color: #fff;
    z-index: 10;
}

.view-node-modal {
    max-width: 600px;
    width: 60%;
    height: 50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 11;
}

.close-button-view-node {
    position: absolute; 
    top: 0;
    right: 16px;
    cursor: pointer;
    font-size: 24px; 
    z-index: 12;
}
